@charset "utf-8";
.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

a {
	text-decoration: none;
	color: inherit;
}
header {
	background-color: rgba(0,78,158,1.00);
	font-family: Calibri;
}

.head-products {
	text-align: center;
	background-color: #FFF;
	color: rgb(239,124,0);
}

.head-img {
	color: rgb(239,124,0);
	font-size: xx-large;
	font-weight: 800;
	font-family: Calibri;



}
.head-img img {
	margin-bottom: -9.1px;
	padding-right: 25px;

}
main {
	background-color: rgba(0,78,158,1.00);
	margin-left: auto;
	margin-right: auto;
	/* [disabled]text-align: center; */
}


.main-text {
	color: rgb(239,124,0);
	font-size: xx-large;
	font-weight: 800;
	text-align: center;
}
.main-text-2 {
	color: rgb(239,124,0);
	text-align: justify;
	padding-top: 5px;
	padding-right: 25px;
	padding-bottom: 5px;
	padding-left: 25px;
	font-size: large;
}


.main-left {
	float: left;
	width: 70%;
	padding-top: 125px;
	background-color: #ffF;
}
.main-left p {
	text-align: justify;
	background-color: rgb(243,243,243);
	padding-top: 2.5px;
	padding-right: 2.5px;
	padding-bottom: 2.5px;
	padding-left: 2.5px;
}
.main-right {
	float: left;
	width: 29.8%;
	background-color: #FFF;
}
.main-right img {
	width: 100%;
	height: auto;
}
.main-contact {
	background-color: rgb(239,124,0);
}
.main-form-head {
	text-align: center;
	color: rgba(0,78,158,1.00);
	font-size: large;
	font-weight: 800;
}
.main-contact-img {
	width: 28%;
}
.main-contact-info {
	width: 70%;
	padding-left: 1%;
	color: rgba(0,78,158,1.00);
}
.main-img-centre {
	text-align: center;
}




.col-2 {
	width: 49%;
	float: left;
	margin-left: auto;
	margin-right: auto;
}



.col-3 {
	width: 33.3333%;
	float: left;
	margin-bottom: -5px;
	padding-top: 0px;
	padding-bottom: 0px;
}
form {
	margin-left: auto;
	margin-right: auto;
	padding-left: 50px;
}
form label {
	color: rgba(0,78,158,1.00);
}

input {
	width: 200px;
	border-radius: 5px;
	height: 25px;
	border-style: none;
}
footer {
	text-align: center;
	margin-right: auto;
	width: 100%;
	background-color: #fff;
	padding-left: 30%;
}
footer img {
	height: auto;
	background-color: rgba(255,255,255,0.81);
	width: 20%;
}



.white-bg {
	background-color: #fff;
}
.float-left {
	float: left;
}

.clear-float {
	clear: both;
}

@media (max-width:768px) and (min-width:414px){
main {
	font-family: Calibri;
	background-image: url(images/Gabelstapler-6m-Hubh%C3%B6he.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.head-img {
	color: rgb(239,124,0);
	font-size: x-large;
	font-weight: 800;
	font-family: Calibri;



}
.head-img img {
	margin-bottom: -9.1px;
	padding-right: 2px;
	width: 22%;

}
.main-left {
	float: left;
	width: 100%;
	padding-top: 125px;
	background-color: rgba(255,255,255,0.00);
}
.main-right {
	float: left;
	width: 100%;
	background-color: rgba(255,255,255,0.00);
	height: 300px;
	display: none;
}
.main-right img {
	display: none;
}

.col-2 {
	width: 100%;
	float: left;
	margin-left: auto;
	margin-right: auto;
}

.col-3 {
	width: 50%;
	float: left;
	margin-bottom: -5px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.main-contact-img {
	width: 50%;
	padding-left: 10%;
}
.main-contact-info {
	width: 70%;
	padding-left: 10%;
	color: rgba(0,78,158,1.00);
}
.main-img {
	height: auto;
}

form {
	margin-left: auto;
	margin-right: auto;
	padding-left: 5%;
}
.white-bg {
	background-color: rgba(0,0,0,0.00);

}
.main-text-2 {
	color: rgb(239,124,0);
	text-align: justify;
	padding-top: 5px;
	padding-right: 25px;
	padding-bottom: 5px;
	padding-left: 25px;
	font-size: large;
	background-color: rgba(0,78,158,0.81);
}
.main-text {
	background-color: rgba(0,78,158,0.81);
}
footer {
	margin-left: 0px;
	padding-left: 0px;
}
footer img {
	height: 50px;
	background-color: rgba(255,255,255,0.81);
	width: 50%;
}
.main-contact {
	background-color: rgba(239,124,0,0.83);
}
.main-img {
	height: auto;
	width: 100%;
}
















}

@media (max-width:414px){
main {
	font-family: Calibri;
	background-color: rgba(0,78,158,1.00);
}
.head-img {
	color: rgb(239,124,0);
	font-size: x-large;
	font-weight: 800;
	font-family: Calibri;



}
.head-img img {
	margin-bottom: -9.1px;
	padding-right: 2px;
	width: 22%;

}
.main-left {
	float: left;
	width: 100%;
	padding-top: 125px;
	background-color: rgba(255,255,255,0.00);
}
.main-right {
	float: left;
	width: 100%;
	background-color: rgba(255,255,255,0.00);
	height: 300px;
	display: none;
}
.main-right img {
	display: none;
}

.col-2 {
	width: 100%;
	float: left;
	margin-left: auto;
	margin-right: auto;
}

.col-3 {
	width: 50%;
	float: left;
	margin-bottom: -5px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.col-3 img {
	height: 125px;

}

.main-contact-img {
	width: 50%;
	padding-left: 10%;
}
.main-contact-info {
	width: 70%;
	padding-left: 10%;
	color: rgba(0,78,158,1.00);
}
.main-img {
	height: auto;
	width: 100%;
}

form {
	margin-left: auto;
	margin-right: auto;
	padding-left: 5%;
}
.white-bg {
	background-color: rgba(0,0,0,0.00);

}
.main-text-2 {
	color: rgb(239,124,0);
	text-align: justify;
	padding-top: 5px;
	padding-right: 25px;
	padding-bottom: 5px;
	padding-left: 25px;
	font-size: large;
	background-color: rgba(0,78,158,0.81);
}
.main-text {
	background-color: rgba(0,78,158,0.81);
}
footer img {
	height: 50px;
	background-color: rgba(255,255,255,0.81);
	width: 50%;
}
.main-contact {
	background-color: rgba(239,124,0,0.83);
}
footer {
	margin-left: 0px;
	padding-left: 0px;
}


}
